@import "tailwindcss";

@theme {
  --color-bg: #1b1b1b;
  --color-berkeley: #003262;
  --color-brandeis: #0070ff;
  --color-gold: #ffd700;

  --font-openSans: "Open Sans", sans-serif;
}

/*======== BASE ========*/
body {
  font-family: var(--font-openSans);
  background-color: var(--color-bg);
  color: var(--color-white);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

/*======== CLASSES ========*/
.hasBgImage {
  @apply bg-center bg-cover bg-no-repeat;
}
